/*

### Flutter ###
!/.gitignore
!/.metadata
!/pubspec.yaml
!/pubspec.lock

### Project ###
!/Readme.md
!/lib
## platform ##
#!/windows
!/macos
#!/linux
#!/android
#!/ios
## rust ##
!/flutter_rust_bridge.yaml
!/rust
